TELEGRAM_BOT_TOKEN=
TELEGRAM_WEBHOOK_SECRET=
TELEGRAM_BOT_USERNAME=unichat_ai_bot
WEBHOOK_URL=https://api.sepijan.xyz/telegram/webhook/
MONGO_URI=mongodb://localhost:27017/unichat
OPENROUTER_API_KEY=
BOT_PORT=8081
POLLING=1
